﻿@model http5204_n01311709_passion.Models.ViewModels.EditCreature

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Creature</h2>

<form method="POST" action="/Creature/Edit/@Model.creature.CreatureID">
    @Html.AntiForgeryToken()
    <div>
        <label>Creature Name</label>
        <input id="CreatureName_Edit" name="CreatureName_Edit" value="@Model.creature.CreatureName"/>
    </div>
    <div>
        <div>CMC</div>
        <input id="CreatureCMC_Edit" name="CreatureCMC_Edit" type="number" step="any" value="@Model.creature.CMC"/>
    </div>
    <div>
        <div>Power</div>
        <input id="CreaturePower_Edit" name="CreaturePower_Edit" type="number" step="any" value="@Model.creature.Power" />
    </div>
    <div>
        <div>Toughness</div>
        <input id="CreatureToughness_Edit" name="CreatureToughness_Edit" type="number" step="any" value="@Model.creature.Toughness"/>
    </div>
    <div>
        <select id="CreatureRarity_Edit" name="CreatureRarity_Edit">
            @foreach (var rarity in Model.rarities)
            {
                <option value="@rarity.RarityID">@rarity.RarityName</option>
            }
        </select>
    </div>
    <div>
        <select id="CreatureColour_Edit" name="CreatureColour_Edit">
            @foreach (var colour in Model.colours)
            {
                <option value="@colour.ColourID">@colour.ColourName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>