﻿@model http5204_n01311709_passion.Models.ViewModels.NewSpell

@{
    ViewBag.Title = "New";
}

<h2>New Creature</h2>

<form method="POST" action="/Creature/Create">
    @Html.AntiForgeryToken()
    <div>
        <label>Creature Name</label>
        <input id="CreatureName_New" name="CreatureName_New" />
    </div>
    <div>
        <div>CMC</div>
        <input id="CreatureCMC_New" name="CreatureCMC_New" type="number" step="any" />
    </div>
    <div>
        <div>Power</div>
        <input id="CreaturePower_New" name="CreaturePower_New" type="number" step="any" />
    </div>
    <div>
        <div>Toughness</div>
        <input id="CreatureToughness_New" name="CreatureToughness_New" type="number" step="any" />
    </div>
    <div>
        <select id="CreatureRarity_New" name="CreatureRarity_New">
            @foreach (var rarity in Model.rarities)
            {
                <option value="@rarity.RarityID">@rarity.RarityName</option>
            }
        </select>
    </div>
    <div>
        <select id="CreatureColour_New" name="CreatureColour_New">
            @foreach (var colour in Model.colours)
            {
                <option value="@colour.ColourID">@colour.ColourName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>