﻿@model http5204_n01311709_passion.Models.ViewModels.EditRemoval

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Removal</h2>

<form method="POST" action="/Removal/Edit/@Model.removal.RemovalID">
    @Html.AntiForgeryToken()
    <div>
        <label>Card Name</label>
        <input id="RemovalName_Edit" name="RemovalName_Edit" value="@Model.removal.RemovalName" />
    </div>
    <div>
        <div>CMC</div>
        <input id="RemovalCMC_Edit" name="RemovalCMC_Edit" type="number" step="any" value="@Model.removal.CMC" />
    </div>
    <div>
        <div>Effectiveness</div>
        <input id="RemovalEffectiveness_Edit" name="RemovalEffectiveness_Edit" type="number" min="1" max="5" value="@Model.removal.Effectiveness" />
    </div>
    <div>
        <select id="RemovalRarity_Edit" name="RemovalRarity_Edit">
            @foreach (var rarity in Model.rarities)
            {
                <option value="@rarity.RarityID">@rarity.RarityName</option>
            }
        </select>
    </div>
    <div>
        <select id="RemovalColour_Edit" name="RemovalColour_Edit">
            @foreach (var colour in Model.colours)
            {
                <option value="@colour.ColourID">@colour.ColourName</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
</form>