﻿@model IEnumerable<http5204_n01311709_passion.Models.Removal>

@{
    ViewBag.Title = "List";
}

<h2>Removal</h2>

@*I realize too late that in order to have computed cells in a table on this page, I will likely need to add a field to Rarities that factors
        the card and weighs them more heavily if they are commons than higher rarities. It would also make more sense to simply create a new
        Model, View, and Controller for Sets and to compute everything over there. I leave the table below as evidence that I started and
        also thought about it.
    <div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>CMC</th>
                    <th>Effectiveness</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Average (factored by rarity)</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>*@

<div>
    @Html.ActionLink("Add a Removal spell", "New")
</div>

@*Iterate through result set and populate our data table*@
<div>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.RemovalName)</th>
                <th>@Html.DisplayNameFor(model => model.CMC)</th>
                <th>@Html.DisplayNameFor(model => model.Effectiveness)</th>
                <th>@Html.DisplayNameFor(model => model.colour)</th>
                <th>@Html.DisplayNameFor(model => model.rarity)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><a href="javascript:WizardsAutoCard('@item.RemovalName')">@Html.DisplayFor(modelItem => item.RemovalName)</a></td>
                    <td>@Html.DisplayFor(modelItem => item.CMC)</td>
                    <td>@Html.DisplayFor(modelItem => item.Effectiveness)</td>
                    <td>@Html.DisplayFor(modelItem => item.colour.ColourName)</td>
                    <td>@Html.DisplayFor(modelItem => item.rarity.RarityName)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RemovalID }) |
                        <a href="@Url.Action("Delete/"+item.RemovalID)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>