﻿@model http5204_n01311709_passion.Models.ViewModels.NewSpell


@{
    ViewBag.Title = "New";
}

<h2>New Removal</h2>

<form method="POST" action="/Removal/Create">
    @Html.AntiForgeryToken()
        <div>
            <label>Card Name</label>
            <input id="RemovalName_New" name="RemovalName_New" />
        </div>
        <div>
            <div>CMC</div>
            <input id="RemovalCMC_New" name="RemovalCMC_New" type="number" step="any" />
        </div>
        <div>
            <div>Effectiveness</div>
            <input id="RemovalEffectiveness_New" name="RemovalEffectiveness_New" type="number" min="1" max="5" />
        </div>
        <div>
           <select id="RemovalRarity_New" name="RemovalRarity_New">
               @foreach(var rarity in Model.rarities)
               {
                   <option value="@rarity.RarityID">@rarity.RarityName</option>
               }
           </select>
        </div>
        <div>
            <select id="RemovalColour_New" name="RemovalColour_New">
                @foreach(var colour in Model.colours)
                {
                    <option value="@colour.ColourID">@colour.ColourName</option>
                }
            </select>
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>

