﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>My name is Delan and I play too much Magic. This site is meant to develop an analytic perspective for different Magic Limited environments.</p>
<p><strong>Limited</strong> is a Magic format where players play with cards opened on the spot. Limited is distinct from Constructed, where players construct decks from cards they own before beginning to play. While Constructed is the most common way to play most trading card games, the ubiquity of Limited play is unique to Magic: the Gathering. 
    The two most popular forms of Limited Magic are <a href="https://youtu.be/fUqPxSYPfrA?t=133" target="_blank">Booster Draft</a> and <a href="https://youtu.be/VKCCM8Uvm8U?t=144" target="_blank">Sealed Deck</a>, and the analytics on this site are meant to inform strategic decisions in those formats.</p>
<p>The most important parts of Limited play are creatures and removal, so that's where our focus is. Creatures are given modeled 
    values for power and toughness, while removal is rated on a scale of 1-5 for effectiveness. One-time tap is 1, bounce is 2, <a href="javascript:WizardsAutoCard('Pacifism')">Pacifism</a> effects are 3, <a href="javascript:WizardsAutoCard('Doom Blade')">Doom Blade</a> is 4, <a href="javascript:WizardsAutoCard('Swords to Plowshares')">Swords to Plowshares</a> is 5.</p>
