﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Strength in Numbers</h1>
    <p class="lead">Quantitative analysis as applied to Limited Magic the Gathering.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Creatures</h2>
        <p>
            The bread and butter of Limited. Learn the value of a bear by going over creature sizing in the aggregate.
        </p>
        <p><a class="btn btn-default" href="/Creature/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Removal</h2>
        <p>More than putting creatures on the board, it's important get rid of you opponents'.</p>
        <p><a class="btn btn-default" href="/Removal/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>And more!</h2>
        <p>This site is very much a work in progress. Let me know what you would like to see!</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>